* {
  padding: 0%;
  margin: 0%;
  list-style-type: none;
  text-decoration: none;
  font-family: "Kanit", serif;
  font-weight: 100;
  font-style: normal;
}

:root {

  line-height: 1.5;

  color-scheme: light dark;
  color:#111111;
  background-color: #ffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}



@media (prefers-color-scheme: dark) {
 
  :root {
    background-color: #303030 ;
    color: #fff;
  }
  
  .container_foto {
    background-color: #040111  ;
  }

  svg {
    fill: #ffff;
  }
}

