.container-contacts {
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.link-button {
    border: none;
    background-color: inherit;
    
}


.container-copy-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 2;
    border: 1px solid #bbb;
    border-radius: 3px;
    background-color: transparent;
    margin-left: 1rem;

}

.container-copy-links p {
    background-color: inherit;
    font-size: 1rem;
    font-weight: 100;
    margin: 4px;
}
.container-copy-links button {
    background-color: inherit;
    border: none;
    border-left: 1px solid #bbb;
}

@keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }